.adminimal-admin-toolbar #main-menu{
    top:79px;
    height: calc(100% - 79px);
}
#main-menu{
    position: absolute;
    top:0;
    height: 100%;
    width: 70px;
    display: block !important;
    background-color: #e52329 !important;
    z-index: 1;
}
#main-menu .menu{
    display: initial;
}
#main-menu .content-menu-burger .menu-close{
    display: none;
}
#main-menu .content-menu-burger .menu-open,
#main-menu .content-menu-burger .menu-close{
    position: absolute;
    font-size: 26px;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
}
body #main-menu .grid-container  nav {
    position: absolute;
    display: none;
    top: 5em;
}
#block-menuprincipal li{
    padding: 0 0 0.8em;
}
#main-menu .menu > li > a {
    padding: 0;
}

.custom-my-account .profil-my-account {
    width: 30px;
    height: auto;
    border-radius: 50px;
    border: 1px solid #e52329;
    margin-right: 15px;
}
.custom-my-account .btn-my-account{
    padding: 8px 20px;
}
.custom-my-account .btn-my-account:hover{
    background-color: #e7e0d9;
    border-radius: 10px 0 0;

}
.custom-my-account .dropdown-my-profil {
    position: relative;
    display: inline-block;
  }
  
  .custom-my-account .dropdown-menu-my-profil {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
   /*  float: left; */
    min-width: 10rem;
    padding: 0.5rem 0;/* 
    margin: 0.125rem 0 0; */
    font-size: 0.9rem;
   /*  text-align: left; */
    background: #e52329;
    border-radius: 20px 0 20px;
    z-index: 1;
    /* box-shadow: 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.16),
      0 0.1875rem 0.375rem rgba(0, 0, 0, 0.23); */
  }
  
  .custom-my-account .dropdown-item {
    display: block;
    padding: 0.25rem 1rem;
    white-space: nowrap;
  }
  
  .custom-my-account .d-block {
    display: block;
  }
  
  .custom-my-account .profil-my-account {
      background-color: #e7e0d9 !important;
  }

.hero {
    background-size: cover !important;
    -webkit-background-size: cover !important;
    border-radius: 0 0 50px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero.hero-taxonomy .block-pagetitle--2 {
    padding: 0 !important;
    width: 100%;    
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .block-pagetitle--2 h1 {
    text-transform: none !important;
    font-size: 3rem !important;
    background: #140d3dd9 !important;
    border-radius: 50px 0 50px;
    padding: initial!important;
    margin: initial;
    color: #fff !important;
    width: 50%;
    height: 35%;
    display: flex !important;
    justify-content: center;
    align-items: center;
}
#block-breadcrumbs-2 ol{
    background-color: #fce7e8;
    width: fit-content;
    padding: 0px 15px;
    border-radius: 10px 0;
}
#block-breadcrumbs-2 ol > li > a{
    color: black;
}
body .grid-container.hero,
body .grid-container#main,
.grid-container {
    max-width: 90rem;
    width: 100%;
}
.grid-container#main,
header article.grid-container {
    padding-right: 0;
    padding-left: 0;
}
.grid-container.full.hero.hero-taxonomy:before {
    content: "";
    background: url(/files/before-section-title.png) no-repeat center 0;
    right: 90px;
    top: calc(38% - 2px);
    width: 150px;
    height: 100%;
    position: relative;
    background-size: 100%;
}
.grid-container#main:before {
    content: "";
    background: url(/files/before-section-main.png) no-repeat center 0;
    right: 0;
    width: 12%;
    height: 800px;
    position: absolute;
    background-size: contain;
}

body > div.dialog-off-canvas-main-canvas > div > header {
    padding: 1em 0;
}
.sidebar #block-hierarchicaltaxonomymenu.block-menu {
    background: #140d3d;
}
.sidebar .block-views-block-civievents-base-sur-le-contact-block-2-2,
#block-askingaquestionblock.block-askingaquestionblock {
    background: #e7e0d9;
}
.sidebar .block-views-block-civievents-base-sur-le-contact-block-2-2,
#block-askingaquestionblock.block-askingaquestionblock,
.sidebar #block-hierarchicaltaxonomymenu.block-menu {    
    padding: 1.5rem;
    border-radius: 50px 0 50px;
}
#block-askingaquestionblock.block-askingaquestionblock  {
    width: calc(25% - 1.875rem);
}
.sidebar .block-views-block-civievents-base-sur-le-contact-block-2-2 h2,
#block-askingaquestionblock.block-askingaquestionblock h2,
.sidebar #block-hierarchicaltaxonomymenu h2 {
    text-align: initial !important;
    font-weight: 500;
    font-size: 1.3rem;
    padding-bottom: 0.7rem;
    margin-bottom: 1.5rem;
}
.sidebar #block-hierarchicaltaxonomymenu h2 {
    color:#fff;
    border-bottom: 1px solid #ffffff;
}
.sidebar .block-views-block-civievents-base-sur-le-contact-block-2-2 h2,
#block-askingaquestionblock.block-askingaquestionblock h2 {
    color:#140d3d;
    border-bottom: 1px solid #140d3d;
}
.sidebar #block-hierarchicaltaxonomymenu h2::before {
    display: none !important;
}
.sidebar .block-views-block-civievents-base-sur-le-contact-block-2-2 .more-link {
    text-align: center;
}
.sidebar .block-views-block-civievents-base-sur-le-contact-block-2-2 .my-meeting {
    display: flex;
    width: 100%;
    grid-column-gap: 12px;
}
.sidebar .block-views-block-civievents-base-sur-le-contact-block-2-2 .start-date-meet {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    width: 25%;
    border-radius: 25px 0 25px;
}
.sidebar .block-views-block-civievents-base-sur-le-contact-block-2-2 .start-date-meet .meet-day {
    font-size: 32px;
    font-weight: 700;
    color: #140d3d;
}
.sidebar .block-views-block-civievents-base-sur-le-contact-block-2-2 .start-date-meet .meet-month,
.sidebar .block-views-block-civievents-base-sur-le-contact-block-2-2 .start-date-meet .meet-hour {
    font-size: 0.7em;    
    color: #140d3d;
}
.sidebar .block-views-block-civievents-base-sur-le-contact-block-2-2 .title-meeting .title-meet {
    font-size: 0.9em;    
    color: #140d3d;
    font-weight: 600;
    margin-bottom: initial;
}
.sidebar .block-views-block-civievents-base-sur-le-contact-block-2-2 .title-meeting {
    width: 75%;
}
.sidebar .block-views-block-civievents-base-sur-le-contact-block-2-2 .more-link a{
    color:#140d3d;
    border: 1px solid #140d3d;
    box-shadow: initial;
    padding: 5px 0;
    width: 100%;
    font-weight: 500;
}
#block-views-block-civievents-base-sur-le-contact-block-2-2 .more-link a:before{
    content: "\f133";
    font-family: "Font Awesome 5 Free";
    font-weight: 500;
    margin-right: 5px;
}

#block-askingaquestionblock.block-askingaquestionblock .more-link a{
    color:#ffffff;
    border: 1px solid #140d3d;
    background-color:#140d3d;
    box-shadow: initial;
    padding: 5px 0;
    width: 100%;
    font-weight: 500;
    text-align: center;
}

.sidebar .menu li a {
   color: #5a5a5a;
   border: unset !important;   
   font-size: 0.8rem !important;
   padding: .6rem 1rem .6rem 0rem !important;
}
.sidebar .menu li a:hover {
    color: #ffffff;
 }
 a.block-taxonomymenu__link:hover:before {
    content: "";
    position: absolute;
    width: 2px;
    top: 5px;
    height: 90%;
    left: -24px;
    background-color: #eb3b00;
}
#block-hierarchicaltaxonomymenu ul li > a:hover:after{
    font-size: .6rem !important;
    top: 5px !important;
    background-color: #fff;
    padding: 5px !important;
    border-radius: 10px 0;
    color: red;
    display:block !important;
}
#block-hierarchicaltaxonomymenu ul li > a:after{
    display:none !important;
}
#footer.grid-container.full {
    background-color: #e52329 !important;
    padding: 1rem 0;
}
#footer.grid-container.full .grid-container {
    margin-left: auto;
    margin-right: 0;
    max-width: 90%;
    padding-right: 0;
}
#footer-region .footer-distributed {    
    border-radius: 100px 0 0;
    background: #ffffff;
    padding: 40px;
}
#footer-region .footer-distributed .footer-center i,
#footer-region  .footer-distributed .footer-icons a { 
    background-color: initial;
    color: #e52329;
}

#footer-region .footer-distributed .footer-center i{
    text-align: initial;
    font-size: 22px;
    width: auto;
    margin: 5px 15px;
}

#footer-region .footer-distributed .footer-center p,
#footer-region .footer-distributed .footer-company-about,
#footer-region .footer-distributed .footer-links { 
    color: #000000;
}
#footer-region .footer-distributed .footer-left .footer-company-details {
    display: flex;
    width: 100%;
}
#footer-region .footer-distributed .footer-left .footer-company-details .footer-logo-company,
#footer-region .footer-distributed .footer-left .footer-company-details .desciption-company-footer{
    width: 50%;
}
#footer-region .footer-distributed .footer-left .footer-company-details .footer-logo-company .img-footer-logo {
    width: 100%;
    padding-right: 30px;
}
#footer-region .footer-distributed .footer-links{
    margin: 0; 
    list-style-type: none;
}
#footer-region .footer-distributed .footer-left{    
    padding-left: 0;
    padding-right: 30px;
}
#footer-region .footer-distributed .footer-center,
#footer-region .footer-distributed .footer-right {
    padding: 0 30px;
}
#footer-region .footer-distributed .footer-center {    
    border-left: #e0e0e0 3px solid;
    border-right: #e0e0e0 3px solid;
}
#footer-region .btn-footer-center{
    width: 50%;
}
#footer-region .btn-footer-center a{
    color: #000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 400;
}