    /*========================================= Load custom icon ===========================================================*/
    @font-face {
    font-family: 'custom-icon-cv';
    src: url('custom-font-awesome/custom-icon-cv.eot');
    src: url('custom-font-awesome/custom-icon-cv.eot?') format('embedded-opentype'),
         url('custom-font-awesome/custom-icon-cv.woff') format('woff'),
         url('custom-font-awesome/custom-icon-cv.ttf') format('truetype'),
         url('custom-font-awesome/custom-icon-cv.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  [class^="icon-custom-"]:before, [class*=" icon-custom-"]:before {
    font-family: "custom-icon-cv";
    font-style: normal;
    font-weight: 400;
  }
    
    .icon-custom-download-file:before { content: '\e800'; } /* '' */
    .icon-custom-commission:before { content: '\e80c'; } /* '' */
    .icon-custom-calendar:before { content: '\e80d'; } /* '' */
    .icon-custom-calendar-o:before { content: '\e80e'; } /* '' */
    .icon-custom-phone-call:before { content: '\e80f'; } /* '' */
    .icon-custom-user-account:before { content: '\e810'; } /* '' */
    .icon-custom-home:before { content: '\e811'; } /* '' */
    .icon-custom-terrestrial-globe:before { content: '\e813'; } /* '' */
    .icon-custom-mail-box:before { content: '\e814'; } /* '' */
    .icon-custom-map-marker:before { content: '\e815'; } /* '' */
    .icon-custom-logout-accout:before { content: '\e818'; } /* '' */
    .icon-custom-refresh:before { content: '\e819'; } /* '' */
    .icon-custom-group-person:before { content: '\e81a'; } /* '' */
    /*========================================= Fin load custom icon ===========================================================*/
  
  
  /*========================================= Load font local DM ===========================================================*/
@font-face {
    font-family: DM;
    src: url('font/DMSerifText-Regular.eot');
    src: url('font/DMSerifText-Regular.eot?') format('☺'),
         url('font/DMSerifText-Regular.woff') format('woff'),
         url('font/DMSerifText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*========================================= Fin Load font local DM ===========================================================*/

/*========================================= Police "new order" from CDN ===========================================================*/
h1,h3, p, span, label, li, button, a,  input, select, textarea, .extrait-resume, h2,
.paragraph.paragraph--type--dossier.paragraph--view-mode--default > div:first-of-type > div:nth-child(2),
.title-last-doc{
    font-family: "new-order", sans-serif !important;
    font-style: normal;
}
/*========================================= Fin Police "new order" from CDN ===========================================================*/

/*========================================= DM Font ===========================================================*/
/* h2,
.paragraph.paragraph--type--dossier.paragraph--view-mode--default > div:first-of-type > div:nth-child(2),
.title-last-doc {
    font-family: "DM" !important;
    font-weight: 900 !important;
} */
/*========================================= Fin DM Font ===========================================================*/

/*========================================= Debut menu principal à gauche ===========================================================*/
.adminimal-admin-toolbar.toolbar-tray-open #main-menu{
    top:79px;
    height: calc(100% - 79px);
}

.adminimal-admin-toolbar #main-menu{
    top:39px;
    height: calc(100% - 39px);
}
#main-menu{
    position: absolute;
    top:0;
    height: 100%;
    width: 70px;
    display: block !important;
    background-color: #e52329 !important;
    z-index: 10;
}
#main-menu .menu{
    display: initial;
}
nav#block-menuprincipal ul >li> ul{
    position: relative;
    background-color: initial;
    border: none;
}
nav#block-menuprincipal ul >li> ul>li >a{
    background: initial;
}
nav#block-menuprincipal ul > li > ul > li >ul{
    position:absolute;
    left: 200px;
    background-color: #fff;
    box-shadow: 1px 3px 5px rgb(195 195 195);
}
nav#block-menuprincipal ul >li> ul>li >ul > li > a{
    color: #000 !important;
}
nav#block-menuprincipal ul > li > ul.first-sub > li.menu-item{
    padding: initial;
}
ul.submenu.is-dropdown-submenu.second-sub.vertical {
    right: initial;
    left: 15px;
}
nav#block-menuprincipal ul >li.menu-item--expanded::after{
    position: absolute;
    content: "+";
    background-color: #fff;
    color: #e52329;
    right: 0;
    top: -6px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    border-radius: 10px 0px;
}
nav#block-menuprincipal ul >li.menu-item--expanded.first-level-click::after{
    content: "-";
}
nav#block-menuprincipal ul >li>ul.first-sub>li.menu-item--expanded::after,
nav#block-menuprincipal ul >li.first-level-click>ul.first-sub>li.menu-item--expanded::after{
    content: ">" !important;
    background-color:transparent;
    color: #fff;
    top: -2px;
    right: 25px;
    font-weight: 600;
    font-family: monospace;
    font-size: 1.2rem;
    width: auto;
    height: auto;
}
nav#block-menuprincipal ul > li.first-level-click > ul.first-sub > li.menu-item--expanded:hover::after {  
    animation: slideOutRight 0.5s ease forwards;
  }
  
  @keyframes slideOutRight {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(40%);
    }
  }
nav#block-menuprincipal ul >li.first-level-click>ul.first-sub>li.menu-item--expanded.second-level-active,
nav#block-menuprincipal ul >li.first-level-click>ul.first-sub>li:hover{
    background-color:#ffffff77;
}
.is-dropdown-submenu .is-dropdown-submenu-parent.opens-right > a::after {
    display: none;
}
nav#block-menuprincipal ul > li > ul > li > ul.second-sub.d-block{
    display: block;
}
#main-menu.top-bar{
    width: 70px
}
#main-menu.top-bar.menu-sidebar-open{
    width: 223px
}


#main-menu.top-bar .first-sub {
    min-width: 200px;
    width: 100%;
}
#main-menu.top-bar .second-sub{
    min-width: initial;
    width: 100%;
}
#main-menu.top-bar .dropdown .is-dropdown-submenu a {
    padding: 0.5rem 0.5rem;
}
#main-menu.top-bar .grid-container {
    width: 100%;
}
#main-menu .content-menu-burger .menu-close{
    display: none;
}
#main-menu .content-menu-burger .menu-open,
#main-menu .content-menu-burger .menu-close{
    position: absolute;
}
#main-menu .content-menu-burger .menu-open,
#main-menu .content-menu-burger .menu-close,
#main-menu .content-menu-burger .menu-reunion,
#main-menu .content-menu-burger .menu-commission,
#main-menu .content-menu-burger .menu-poser-question {
    font-size: 26px;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
}
#main-menu.top-bar .content-sub-menu-burger {
    top: 50px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 20px; 
    align-items: center;
}
#main-menu.top-bar.menu-sidebar-open .content-sub-menu-burger{
    display: block;
    position: relative;
    top: 40px;
    padding-top: initial;
    margin-left: -23px;
    margin-right: -23px;
    width: calc(100% + 46PX);
}
#main-menu.top-bar.menu-sidebar-open .content-sub-menu-burger:before {
    content: "";
    width: calc(100% - 46px);
    height: 2px;
    position: absolute;
    background-color: #fff;
    top: -15px;
    left: 23px;
}
.menu-open:before {
    content: "";
    width: calc(100% + 10px);
    position: absolute;
    height: 2px;
    background-color: #fff;
    top: 50px;
    left: -5px;
}
.content-sub-menu-burger .item-sub-menu-burger{
    padding: 15px 0;
    color: #fff;
    display: block;
    width: 70px;
    text-align: center;
    transition: initial;
}
#main-menu.top-bar.menu-sidebar-open  .content-sub-menu-burger .item-sub-menu-burger {
    text-align: initial;
    width: 100%;
    padding: 12px 0 12px 23px;
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 15px;
}
#main-menu.top-bar .content-sub-menu-burger .item-sub-menu-burger i{
    line-height: inherit;
}
#main-menu.top-bar .content-sub-menu-burger .item-sub-menu-burger .span-title-burger {
    display: none;
}
#main-menu.top-bar.menu-sidebar-open  .content-sub-menu-burger .item-sub-menu-burger .span-title-burger{
    display: block;
    font-size: .85rem;
    text-transform: uppercase;
    font-weight: 400;
}
.content-sub-menu-burger .item-sub-menu-burger:hover,
.item-sub-menu-burger.sub-menu-burger-active {
    background-color: #fff;
    border-radius: 20px 0 0;
}
.content-sub-menu-burger .item-sub-menu-burger:hover i,
.item-sub-menu-burger.sub-menu-burger-active i,
.item-sub-menu-burger.sub-menu-burger-active span.span-title-burger,
#main-menu.top-bar.menu-sidebar-open  .content-sub-menu-burger .item-sub-menu-burger:hover .span-title-burger{
    color: #e52329;
}
body #main-menu .grid-container  nav {
    display: none;
    width: 100%;
    padding-top: 3rem;
}
#block-menuprincipal li{
    padding: 0 0 0.2em;
}
#main-menu .menu > li > a {
    padding: 0;
}
.content-sub-menu-burger #submenu-burger-reunion {
    top: 20px;
}
#main-menu.top-bar.menu-sidebar-open #submenu-burger-reunion {
    top: 0;
}
.content-sub-menu-burger #submenu-burger-commission {
    top: 90px;
}
#main-menu.top-bar.menu-sidebar-open #submenu-burger-commission {
    top: 65px;
}
.content-sub-menu-burger #submenu-burger-question,
#main-menu.top-bar.menu-sidebar-open #submenu-burger-question  {
    bottom: 0;
}
.content-sub-menu-burger .dropdown-sub-menu-burger {
    position: absolute;
    left: 47px;
    display: none;
    min-width: 250px;
    min-height: 72px;
    width: 100%;
    padding: 0.5rem 0;
    font-size: 0.85rem;
    background: #e7e0d9;
    border-radius: 0 0 20px;
    z-index: 1;
}  
#main-menu.top-bar.menu-sidebar-open .content-sub-menu-burger .dropdown-sub-menu-burger {
    left: 223px;
    min-height: 63px;
}
.content-sub-menu-burger .dropdown-item-burger{
    display: block;
    padding: 0.25rem 1rem;
    white-space: nowrap;
    color: #000;
}  
.content-sub-menu-burger .d-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.dropdown-item-burger {
    display: flex !important;
    align-items: center;
}
.icon-reunion,
.icon-comission,
.icon-question {
    width: 10%;
    font-size: 15px;
    margin-right: 10px;
}
.details-reunion {
    width: 90%;
}
.title_reunion {
    width: 100%;
    display: block;
    text-wrap: wrap;
    font-size: 0.9rem;
}
.date_reunion,
.hour_reunion,
.separator_reunion{
    font-weight: 400;
    font-size: 0.8rem;
}
.dropdown-item-burger.all-my-reunion,
.dropdown-item-burger.all-my-commission  {
    justify-content: center;
    width: 85%;
    border: solid 1px #000;
    margin: 1rem;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
}
.dropdown-item-burger:hover,
#submenu-burger-question:hover{
    background-color: #f1ece7;
}
/*========================================= Fin menu principal à gauche ===========================================================*/

/*========================================= Debut en tete ===========================================================*/
header .logo-entete{
    width: 10%;
}
header .section-recherche-entete{
    width: 90%;
}
/* header .grid-container .grid-margin-x {
    margin: 0;
} */
/*========================================= Fin en tete ===========================================================*/

/*========================================= Debut dropdown profil utilisateur ===========================================================*/
.custom-my-account .profil-my-account {
    width: 35px;
    height: auto;
    border-radius: 50px;
    border: 1px solid #3e7269;
    margin-right: 5px;
}

.custom-my-account .btn-my-account{
    padding: 5px 15px;
    text-transform: capitalize;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end; 
}
.custom-my-account .btn-my-account:hover{
    background-color: #e7e0d9;
    border-radius: 20px 0 0;

}
.custom-my-account .dropdown-my-profil {
    position: relative;
    width: 100%;
  }
  
  .custom-my-account .dropdown-menu-my-profil {
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
    min-width: 280px;
    width: 100%;
    padding: 0.5rem 0;
    font-size: 0.85rem;
    background: #e52329;
    border-radius: 20px 0 20px;
    z-index: 10;
    box-shadow: 1px 1px 4px rgb(59, 59, 59);
  }  
  .custom-my-account .dropdown-item {
    display: block;
    padding: 0.7rem 1rem;
    white-space: nowrap;
    color: #fff;
    text-transform: uppercase;
  }  
  .custom-my-account .dropdown-item i{
    margin-right: 15px;
    font-size: 1.2rem;
  }
  .custom-my-account .d-block{
    display: block;
  }
  #block-blockmoncompte{
    padding-left: 15px;
    width: 100%;
}
/*========================================= Fin dropdown profil utilisateur ===========================================================*/

/*========================================= Debut button formation sur l'entete ===========================================================*/
.btn-formation {
    color: #e52329;
    width: 100%;
    padding: 8px 15px;
    border-radius: 20px 0;
    display: block;
    text-align: center;
    border: 1px solid #e52329;
    text-transform: uppercase;
}
/* .btn-formation:hover {
    background-color: #e7e0d9;;
    color: #000;
} */
.custon-content-formation {
    width: 100%;
    border-left: 2px solid #bdbdbd;
    border-right: 2px solid #bdbdbd;
    padding: 0 15px;
}
/*========================================= Fin button formation sur l'entete ===========================================================*/

/*========================================= Debut champs de recherche sur l'entete ===========================================================*/
.search-local-header {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 1em 0 0;
}
.btn-search-header {
    background-color: #e52329;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 2em;
    border-radius: 0 0 20px 0;
    text-transform: uppercase;
    font-weight: 300;
    border: solid 1px #e52329;
}
.btn-search-header:hover {
    /* background-color: #e7e0d9;;
    color: #000 ;*/
    color: #fff;
}
.input-search-header {
    height: auto;
    border-radius: 20px 0 0;
    margin: 0;
    background-color: #e7e0d9;
    border: 1px solid #e7e0d9;
    color: #000;
    box-shadow: initial;
    padding: 0.5rem 3rem;
}
.input-search-header::placeholder {
    color: #000;
    opacity: 0.5;
  }
header i.icon-search-header{
    display: flex;
    align-items: center;
    color: #000;
    left: 20px;
    position: relative;
    cursor: none;
    width: 0;
}
header .site-logo img {
    width: 185px;
    height: auto;
}
/*========================================= Fin champs de recherche sur l'entete ===========================================================*/

/*========================================= Debut section titre de chaque page ===========================================================*/
.hero {
    background-size: cover !important;
    -webkit-background-size: cover !important;
    border-radius: 0 0 50px;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero.hero-taxonomy .block-pagetitle--2 {
    padding: 0 !important;
    width: 100%;    
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero #block-pagetitle--2.block-pagetitle--2 h1 {
    background: #140d3dd9;
    border-radius: 50px 0 50px;
    margin: initial;
    color: #fff;
    width: 50%;
    min-height: 150px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: initial;
    font-weight: 300 !important;
}
.grid-container.full.hero.hero-taxonomy:before {
    content: "";
    background: url(/files/before-section-title.png) no-repeat center 0;
    left: -100px;
    top: 31%;
    width: 150px;
    height: 100%;
    position: absolute;
    background-size: 100%;
}
.hero #block-pagetitle--2.block-pagetitle--2 h1:before {
    content: "";
    background: url(/files/before-title-in-cover.png) no-repeat center 0;
    left: 20%;
    top: -60px;
    width: 120px;
    height: 120px;
    position: absolute;
    background-size: 100%;
}
/*========================================= Fin section titre de chaque page ===========================================================*/

/*========================================= Debut fil d'ariane ===========================================================*/
#block-breadcrumbs-2 ol{
    background-color: #fce7e8;
    width: fit-content;
    padding: 2px 15px;
    border-radius: 10px 0;
}
#block-breadcrumbs-2 ol > li > a,
.breadcrumb ol li > ul li:hover a{
    color: #000;
    font-weight: 400;
}
.breadcrumb ol li > ul {
    display: none;
    position: absolute;
    width: 150px;
    top: 30px;
    left: auto;
    z-index: 1;
    text-align: left;
    background: #fce7e8;
    border-radius: 10px 0 0;
    
  }
  .breadcrumb ol li > ul li {
    padding: 5px 15px;
    width: 100%;
  }  
  .breadcrumb ol li > ul li a {
    color: #6e6e6e;
    font-weight: 400;
  }  
/*========================================= Fin fil d'ariane ===========================================================*/

/*========================================= Debut page principale ===========================================================*/
header article.grid-container, 
body .grid-container#main,
.grid-container.hero.hero-taxonomy,
#block-views-block-home-caroussel-block-1 {
    /* max-width: 75%; */
    max-width: 85.375rem;
    width: 100%;
}
.grid-container#main,
header article.grid-container {
    padding-right: 0;
    padding-left: 0;
}

.grid-container#main:before {
    content: "";
    background: url(/files/before-section-main.png) no-repeat center 0;
    right: 0;
    width: 12%;
    height: 800px;
    position: absolute;
    background-size: contain;
}

body > div.dialog-off-canvas-main-canvas > div > header {
    padding: 1em 0;
}
/*========================================= Fin page principale ===========================================================*/

/*========================================= Debut section footer (pied de page) ===========================================================*/
#footer.grid-container.full {
    background-color: #e52329 !important;
    padding: 1rem 0;
}
#footer.grid-container.full .grid-container {
    margin-left: auto;
    margin-right: 0;
    max-width: 90%;
    padding-right: 0;
}
#footer-region .footer-distributed {    
    border-radius: 100px 0 0;
    background: #ffffff;
    padding: 40px;
    font: inherit;
}
#footer-region .footer-distributed .footer-center i,
#footer-region  .footer-distributed .footer-icons a { 
    background-color: initial;
    color: #e52329;
    transition: all .2s ease-in-out;
}

#footer-region .footer-distributed .footer-center i{
    text-align: initial;
    font-size: 1.2rem;
    width: auto;
    margin: 5px 15px;
}
#footer-region .footer-icons .social-button i {
    font-size: 36px;
}
#footer-region .footer-distributed .footer-icons {
    display: flex;
    justify-content: space-between;
    width: 75%;    
    float: left;
}
#footer-region .footer-icons a.social-button:hover {
    transform: scale(1.3);
}
#footer-region .btn-footer-center a:hover,
#footer-region .footer-distributed .footer-links li a:hover {
    color: #e52329;
}

#footer-region .footer-distributed .footer-center p,
#footer-region .footer-distributed .footer-company-about,
#footer-region .footer-distributed .footer-links { 
    color: #000000;
    font-size: 1.2em;
    line-height: inherit;
}
#footer-region .footer-distributed .footer-left .footer-company-details {
    display: flex;
    width: 100%;
}
#footer-region .footer-distributed .footer-left .footer-company-details .footer-logo-company,
#footer-region .footer-distributed .footer-left .footer-company-details .desciption-company-footer{
    width: 50%;
}
#footer-region .footer-distributed .footer-left .footer-company-details .footer-logo-company .img-footer-logo {
    width: 100%;
    padding-right: 30px;
}
#footer-region .footer-distributed .footer-links{
    margin: 0; 
    list-style-type: none;
}
#footer-region .footer-distributed .footer-left{    
    padding-left: 0;
    padding-right: 30px;
}
#footer-region .footer-distributed .footer-center,
#footer-region .footer-distributed .footer-right {
    padding: 0 30px;
}
#footer-region .footer-distributed .footer-center {    
    border-left: #e0e0e0 3px solid;
    border-right: #e0e0e0 3px solid;
}
#footer-region .btn-footer-center{
    width: 50%;
}
#footer-region .btn-footer-center a{
    color: #000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 400;
    font-size: 1.2rem;
}
/*========================================= Fin section footer (pied de page) ===========================================================*/

/*========================================= Debut bouton back to top ===========================================================*/
#backtotop {
    background: inherit;
    background-color: #e52329;
    font-size: 24px;
    border-radius: 30px 0;
    color: #fff;
    height: 55px;
    text-indent: inherit;
    width: 60px;
}
#backtotop:hover {
    background-color: #ffc22c;
    color: #000;
}
.custom-chevron {
    padding-top: 11px;
    padding-left: 24px;
}
/*========================================= Fin bouton back to top ===========================================================*/

/*========================================= Debut dernière document ===========================================================*/
.grid-container.full.hero.hero-taxonomy {
    background-image: url(/sites/test-culture-viande.dev.makoa.net/files/2023-07/porc.jpg);
}
.custom-section-doc {
    display: flex;
    padding-top: 17px;
}
.btn-download-files {
    padding: 30px 0;
}
.media-download-all,
.media-download-file-first  {
    border-radius: 15px 0 15px;
    text-transform: uppercase;
    font-size: 0.85em;
    font-weight: 600;
}
.media-download-all,
.media-download-all:hover  {    
    padding: 10px 20px;
    background-color: #3e7269;
    color: #fff;
    display: inline-block;
}
.media-download-file-first,
.media-download-file-first:hover  {    
    margin-top: 30px;
    padding: 10px 30px;
    background-color: #e7e0d9;
    color: #000;
    width: fit-content;
}
.media-download-all i{
    font-weight: 100;
    font-size: 20px;
    margin-left: 10px;
}
.custom-section-doc .custom-icon-document {
    width: 3%;
}
.custom-section-doc .date-creation {
    color: #b1b1b1;
    font-size: 0.7rem;
}
.custom-section-doc .description {
    font-size: 0.89rem;
}
.custom-section-doc .description-with-date-size {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 27px;
}
.first-element-doc {
    display: inline-flex;
    margin: 30px 0;
    gap: 50PX;
}
.first-element-doc .content-frist-doc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.first-element-doc .content-frist-doc .extrait-resume p {
    font-size: 0.95rem;
}
.first-element-doc a.custom-icon-first-element {
    min-width: 20%;
    height: 100%;
}
.media-download-file-first i{
    font-size: 1.2rem;
    margin-right: 15px;
}
.title-first-doc a,
.title-first-doc a:hover{
    color: #e52329;
    font-weight: 500;
}
.detail-date-button-first-doc {
    display: inline-grid;
}

.line-container-plus,
.line-container-moins {
    display: flex;
    align-items: center;
}
.line-container-plus a.btn-see-other-doc,
.line-container-moins a.btn-dismiss-other-doc {
    white-space: nowrap;
    padding: 0 3rem;
    color: #140d3d;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1rem;
}
.hr-line-accoredon,
.title-and-chevron .hr-other-doc{
    border: 1px solid #7070704d; 
    width: 100%;
    max-width: 100%;
}
.section-others-documents{
    display: none;
}
.section-others-documents h2.main-title,
h2.main-title-last-doc{
    font-size: 2.5rem;
    font-weight: 500;
}

.section-others-documents h2.main-title {
   padding-top: 30px
}
/*========================================= Fin dernière document ===========================================================*/

/*========================================= Debut caroussel dans la page d'accueil ===========================================================*/
.views_slideshow_cycle_slide.views_slideshow_slide,
#block-views-block-home-caroussel-block-1{
    width: 100% !important;
    height: auto !important;
}
#block-views-block-home-caroussel-block-1 img {
    border-radius: 0 0 80px;
}
.views-slideshow-controls-bottom .views-slideshow-pager-bullets {
    margin: 0 1rem;
}
#block-views-block-home-caroussel-block-1 .views-slideshow-controls-bottom {
    position: relative; 
    z-index: 6;
}
.views-slideshow-controls-bottom .views-slideshow-pager-bullets {
    margin: 0 1rem;
    bottom: 1rem;
    position: absolute;
}
/* .grid-container.full.hero .section-caroussel */
#views_slideshow_cycle_teaser_section_home_caroussel-block_1::before{
    content: "";
    background: url(/files/before-section-title.png) no-repeat center 0;
    left: -100px;
    bottom: 0;
    width: 150px;
    height: 344px;
    position: absolute;
    background-size: 100%;
    z-index: 5;
}
.views-slideshow-controls-bottom .views-slideshow-pager-bullets li {
    border-radius: 100px;
    background:#00000000;
    border: solid 2px #ffc22c;
}
.views-slideshow-controls-bottom .views-slideshow-pager-bullets li.active,
.views-slideshow-controls-bottom .views-slideshow-pager-bullets li:hover {
    background: #fff;
}
.views-field-field-texte-slider {
    position: absolute;
    bottom: 5rem;
    left: 7rem;
}
.views-field-field-texte-slider .field-content h2 {
    color: #fff;
    font-family: "new-order", sans-serif !important;
    text-transform: uppercase;
    font-size: xxx-large;
    
    margin: 0;
}.views-field-field-texte-slider .field-content p{
    color: #fff;
    font-size: xxx-large;
}
/*========================================= Fin caroussel dans la page d'accueil ===========================================================*/

/*========================================= Debut mes réunions dans la page d'accueil ===========================================================*/
#block-blockhomemeetings,
#block-blockmescommissions {
    position: relative;
}
.title-commission-home,
.title-ask-question-home,
.title-meetings-home {
    color: #3d3d3d;
    margin-top: 2rem;
    font-size: 2.1rem;
    font-weight: 600;
}
.title-commission-home i,
.title-ask-question-home i,
.title-meetings-home i {
    margin-right: 20px;
}
.all-meet-who-s-mine {
    background-color: #e52329;
    border-radius: 50px 0 0;
    padding: 3rem;
}
.btn-each-meetings {
    width: 100%;
    display: inline-flex;
    height: 5rem;
    justify-content: center;
    align-items: center;
    background-color: #e7e0d9;
    border-radius: 0 0 50PX;
    color: #140d3d;
    font-weight: 700;
    font-size: 1.6rem;
    gap: 1rem;
    margin-top: 1px;
}
.btn-each-meetings:hover {
    color: #FFF;
    background-color: #140d3d;
}
.btn-each-meetings i{
    margin-bottom: 6px;
}
.all-meet-who-s-mine.col-md-6 {
    display: flex;
    width: 100%;
    gap: 50px;
}
.lists-meeting {
    width: 100%;
    background-color: #fff;
    padding: 2rem;
    border-radius: 50px 0;
    z-index: 1;
}
.lists-meeting:hover {
    background-color: #e7e0d9;
}
.meeting-date {
    background-color: #f3f3f3;
    padding: 1rem;
    text-align: center;
    border-radius: 30px 0;
    color: #3d3d3d;
    font-weight: 600;
}
.meeting-linked-group hr{
    border-bottom: 3px solid #f3f3f3;
}
.meeting-linked-group span{
   color: #000;   
   font-size: 0.85rem;
}
.meeting-hour span,
.meeting-object span{
    color: #000;
    font-weight: 300;
    font-size: 0.8rem;
}
.meeting-hour p,
.meeting-object p{
    font-size: 1.1rem;
    font-weight: 600;
}
.meeting-hour p{
    color: #e52329;
}
.meeting-object p{
    color: #140d3d;
}
.my-meeting.row{
    overflow: hidden;
}
.my-meeting.row:before,
.my-meeting.row:after {
    content: "";
    background: url(/files/after-section-reunion.png) no-repeat center 0;
    position: absolute;
    background-size: cover;
    height: 346px;
}
.my-meeting.row:before {
    left: 8px;
    bottom: 90px;
    width: 155px;
}
.my-meeting.row:after {
    right: -33px;
    top: 36px;
    width: 170px;
}
/*========================================= Fin mes réunions dans la page d'accueil ===========================================================*/

/*========================================= Debut mes commission dans la page d'accueil ===========================================================*/
#block-blockmescommissions .my-group.row {
    display: inline-flex;
    width: 100%;
    gap: 50px;
}
#block-blockmescommissions .my-group-image,
#block-blockmescommissions .all-group-who-s-mine {
    width: 50%;
}
#block-blockmescommissions .my-group-image:after{
    content: '';
    background: url(/files/before-section-commission.png) no-repeat center 0;
    left: 35%;
    bottom: 2rem;
    width: 150px;
    height: 32%;
    position: absolute;
    background-size: 100%;
}
#block-blockmescommissions .all-group-who-s-mine {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#block-blockmescommissions .my-group-image .my-group-img{
   border-radius: 50px 0;  
}
#block-blockmescommissions .all-group-who-s-mine  .content-group {
    padding: 20px;
    background-color: #f7f5f3;
    display: inline-flex;
    align-items: center;
    border-radius: 20px 0;
    gap: 30px;
}
#block-blockmescommissions .all-group-who-s-mine .content-group:hover{    
    background-color: #e7e0d9;
}
#block-blockmescommissions .all-group-who-s-mine .icon-each-group {
    width: 80px;
    height: 80px;
    background-color: #3e7269;
    border-radius: 100%;
    border: 2px solid #FFF;
    box-shadow: 1px 1px 5px #0000005e;
    display: flex;
    justify-content: center;
    align-items: center;
}
#block-blockmescommissions .all-group-who-s-mine .each-group h3 {
    color: #140d3d;
    font-weight: 600;
    font-size: 1.2rem;
}
#block-blockmescommissions .all-group-who-s-mine .each-group p {
    color: #707070;
    margin-bottom: 0;
}
#block-blockmescommissions .all-group-who-s-mine .icon-each-group i{
    font-size: 2rem;
    color: #FFF;
}
#block-blockmescommissions .all-group-who-s-mine .btn-each-group {
    border: 1px solid #140d3d;
    text-align: center;
    padding: 5px 0px;
    border-radius: 5px;
    color: #140d3d;
    font-weight: 600;
}
#block-blockmescommissions .all-group-who-s-mine .btn-each-group:hover {
    background-color: #140d3d;
    color: #fff;
}
/*========================================= Fin mes commission dans la page d'accueil ===========================================================*/

/*========================================= Debut poser question dans la page d'accueil ===========================================================*/
.home-ask-question {
    background-image: url(/files/Cover-ask-question.png);    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.home-ask-question .home-ask-question-overlay{
    background-color: #e7e0d994;
    border-radius: 50px 0;
    padding: 3rem;
}
.home-ask-question .category-ask-question select,
.home-ask-question .ask-question-some-word  textarea{
    display: initial;
    border: initial;
    padding: 0.5rem 1rem;
    background-color: #ffffff;
    border-radius: 10px 0;
    background-position: right 0rem center;
}
.home-ask-question .btn-ask-question-home {
    color: #fff;
    background-color: #140d3d;
    border: 1px solid #140d3d;    
    font-weight: 600;
    padding: 10px 40px;
    border-radius: 5px;
}
.home-ask-question .btn-ask-question-home:hover {
    color: #140d3d;
    background-color: #140d3d00;
}
.home-ask-question .ask-question-button {
    text-align: end;
    margin: 20px 0;
}
.home-ask-question select.form-select option {
    background-color: #e7e0d994;
}
.home-ask-question select.form-select {
   /*  background-image: linear-gradient(45deg, transparent 50%, #707070 50%), linear-gradient(135deg, #707070 50%, transparent 50%);
    background-position: calc(100% - 20px) .7em, calc(100% - 15px) .7em, 100% 0;
    background-size: 5px 5px, 5px 5px, 2.5em 2.5em; */
    background-image: url('/files/arrows-chevron-down-select.png');
    background-size: 1.2rem;
    background-repeat: no-repeat; 
    background-position: right center;
  }
  
  .home-ask-question select.form-select:focus {
    /* background-image: linear-gradient(45deg, #707070 50%, transparent 50%), linear-gradient(135deg, transparent 50%, #707070 50%);
    background-position: calc(100% - 15px) .7em, calc(100% - 20px) .7em, 100% 0;
    background-size: 5px 5px,  5px 5px, 2.5em 2.5em; */
    background-image: url('/files/arrows-chevron-up-select.png');
    outline: 0;
  }
/*========================================= Fin poser question dans la page d'accueil ===========================================================*/

/*========================================= Debut login ===========================================================*/
#auth_box.login {
    width: 100%;
    display: inline-flex;
    padding: 0;
    margin: 0;
}
#left_part,
#right_part {
    width: 50%;
}
#left_part {
    padding: 5rem 15rem 5rem 10rem;
}
#right_part .image-right img{
    border-radius: 100px 0 0;
}
#right_part:before {
    content: "";
    background: url(/files/after-section-reunion.png) no-repeat center 0;
    right: calc(30% - 3px);
    width: 30%;
    height: 90%;
    position: absolute;
    background-size: contain;
    bottom: 0;
}
#auth_box #left_part #the_logo {
    text-align: initial;
    margin-bottom: 3rem;
}

#left_part #the_logo > a > img {
    width: 100%;
    height: 100%;
    max-width: 100px;
}
#left_part .title-login {
    font-weight: 900;
    font-size: 2.8rem;
}
#left_part .login-title{
    margin-bottom: 0;   
}
#left_part .block-textepagedeconnexionentete strong{
    font-weight: 500;
}
.block-textepagedeconnexionentete p{
    text-align: initial;
}
#left_part #user-login-form {
    border: initial;
    background-image: initial;
    max-width: initial;
    margin-bottom:initial;
    display: grid;
    gap: 20px;
}
#auth_box #left_part input[type="text"],
#auth_box #left_part input[type="password"],
#auth_box #left_part  input[type="submit"]  {
    width: 100%;
}
#auth_box #left_part input[type="text"],
#auth_box #left_part  input[type="password"] {
    border-bottom: 2px #707070 solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    padding: 5px;
    font-size: 1.2rem;
    -webkit-box-shadow: initial;
    box-shadow: initial;
    font-weight: 400;
}
#auth_box #left_part input[type="text"]::placeholder,
#auth_box #left_part  input[type="password"]::placeholder {
    color: #707070;
}

#auth_box #left_part #edit-pass,
#auth_box #left_part #edit-name {
    background: initial;
    background-size: initial;
    text-indent: initial;
}
#auth_box #left_part input.form-text:focus {
    box-shadow: initial;
}
#left_part #user-login-form .form-item,
#left_part #user-pass .form-item {
    padding-left: initial;
}
#left_part #user-login-form #edit-actions {
    order: 3;
    margin: 1rem 0 0;
}

#left_part .forgot-password {
    order: 4;
    margin-left: initial;
    top: initial;
}
#left_part #capslockdiv{
    order: 5;
}
#auth_box #left_part input[type="submit"] {
    float: initial;
    padding: 0;
    height: 45px;
    background-color: #dc001d;
    color: #ffffff;
    text-shadow: initial;
    border: initial;
    border-color: initial;
    -webkit-border-radius: 15px 0;
    -moz-border-radius: 15px 0;
    border-radius: 15px 0;
    box-shadow: none;
    font-weight: 500;
    font-size: 1.2rem;
}
#auth_box #left_part input[type="submit"]:hover {
    background-color: #140d3d;
}
#left_part input.form-text {
    max-width: initial;
}


#left_part .forgot-password a{
    color: #707070;
    /* font-size: 1.2rem; */
    text-decoration: underline;
    font-weight: 400;
}

#left_part .forgot-password{
    text-align: center;
}
#user-login-form .messages, #user-pass .messages {
    margin: initial;
}
#left_part #block-blocbasdepage h4{
    margin-bottom: initial;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;

}
#left_part #block-blocbasdepage p > a,
#left_part #block-makoa h6 > a{
    color: #000;
}
#left_part #block-blocbasdepage p > a:hover,
#left_part #block-makoa h6 > a:hover,
#left_part .forgot-password a:hover{
    color: #dc001d;
    text-decoration: initial;
}

#left_part .messages--error {
    color: #e46f7f;
    background-color: #fce6e7;
    border-color: initial;
    border: initial;
    border-radius: 15px 0;    
    display: inline-flex;
    padding: 20px;
    gap: 20px;
}
#left_part .messages--error i,
#left_part .messages--error h2{
    color: #dc001d;
}
#left_part .messages--error h2{
    margin: 0;
    font-size: 1rem;
}
#left_part .messages--error i{
    font-size: 1.5rem;
}
/*========================================= Fin login ===========================================================*/

/*========================================= Debut Reesponsive design ===========================================================*/

/* XX-Large devices (larger desktops, 1400px and down) */
@media (max-width: 1400px) {
    
 }

/* X-Large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
    
}

/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) { 
    
}

/* Medium devices (tablets, 768px and down) */
@media (max-width: 768px) { 
    #footer-region .footer-distributed .footer-center {
        border-left: unset;
        border-right: unset;
    }
    #footer-region .footer-distributed .footer-center,
    #footer-region .footer-distributed .footer-right,
    #footer-region .btn-footer-center {
        width: 100%;
        text-align: start;
    }
    #footer-region .footer-distributed .footer-left{
        text-align: start;
    }
    
 }

/* Small devices (landscape phones, 766px and down) */
@media (max-width: 766px) { 
   
}
/*========================================= Fin Reesponsive design ===========================================================*/