    {% if site_public %}
                    <p ><a class="privacy-policy-link" href="#">Politique de confidentialité</a></p>
                    <p id="menu-item-16732" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16732"><a href="#">Mentions légales</a></p>
                    <p id="menu-item-16171" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16171"><a href="#">Contact</a></p>
    {# <div class="footer_inner_cont">
        <div class="footer_nav_wrap">
            <nav>
                <div class="menu-footer-navigation-container">
                    <ul id="footer_nav" class="footer_nav">
                    </ul>
                </div>
            </nav>
        </div>
        
    </div> #}
    {% endif %}