<div class="footer_inner_cont">
    <div class="footer_nav_wrap">
        <nav>
            <div class="menu-footer-navigation-container">
                <ul id="footer_nav" class="footer_nav"><li id="menu-item-16732" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16732"><a href="#">Mentions légales</a></li>
                    <li id="menu-item-16171" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16171"><a href="#">Contact</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <span class="footer_copyright copyright">
        <a class="privacy-policy-link" href="#">Politique de confidentialité</a> / Culture Viande © 2022 / Tous droits réservés / Concept &amp; Design AB Corp  International	
    </span>
</div>